*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav{
    height: 70px;
    width: 100%;
    background:linear-gradient(pink,blueviolet);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#nav>a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 10px red;
    border: 1px solid red;
    border-radius: 5px;
}

#myForm{
    height: 90vh;
    width: 100%;
    background:linear-gradient(yellow,pink,blueviolet);
    display: flex;
    justify-content: center;
    align-items: center;
}

#myForm>table{
    height: 250px;
    width: 280px;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 0px 0px 5px red;
}

#myForm>table label{
    color: red;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;

}

#myForm>table input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid red;
    color: red;
}

#myForm>table input:focus{
    outline: none;
} 
button{
    height: 30px;
    width: 130px;
    background-color: blue;
    border: none;
    border-radius: 100px;
}
button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
h4{
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(28, 199, 170);
    text-shadow: 0px 0px 5px red;
}

#myUsers{
    height: 110vh;
    width: 100%;
    background:linear-gradient(yellow,pink,blueviolet);  
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#cards{
    height: 200px;
    width: 220px;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 0px 0px 5px red;
}
#cards:hover{
    transform: scale(1.1);
    transition: 2s;
}
#cards>table{
    padding: 15px;
}
#cards td{
    color: red;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#cards td>button{
    height: 20px;
    width: 80px;
    background-color: pink;
    display: inline-block;
}

#cards td>button>a{
    text-decoration: none;
    color: blue;
}